body {
  min-height: 100vh;
  background: linear-gradient(135deg, #17408b 0%, #c9082a 100%);
  background-attachment: fixed;
}


.MuiPaper-root {
  border-radius: 18px !important;
  box-shadow: 0 6px 32px 0 rgba(23, 64, 139, 0.08) !important;
}

.filters-row {
  margin-bottom: 16px;
}
